---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for entry in collections.all -%}
{%- if entry.url and not entry.data.eleventyExcludeFromCollections %}
  <url>
    <loc>{{ site.url }}{{ entry.url }}</loc>
    <lastmod>{{ entry.date | isoDate }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>{% if entry.url == "/" %}1.0{% else %}0.7{% endif %}</priority>
  </url>
{%- endif -%}
{%- endfor %}
</urlset>
